.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--modal-bg);
  z-index: 2;
}

.modal {
  position: absolute;
  padding: 32px 20px;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--white);
  border-radius: 4px;
  width: 372px;
}

.modal__btn {
  opacity: 0.7;
  position: absolute;
  top: 12px;
  right: 12px;
}

.modal__icon {
  width: 20px;
  height: auto;
}

.modal__icon-wrapper {
  background: var(--purple);
  border-radius: 50%;
  width: 38px;
  height: 38px;
  margin: 0 auto 20px;
}

.modal__title {
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  text-align: center;
}

.modal__text {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

@media (max-width: 768px) {
  .modal {
    width: auto;
  }
}

.hide {
  display: none;
}
