@import './_variables.css';
@import './_reset.css';
@import './_atomic.css';
@import './_header.css';
@import './_plancy.css';
@import './_features.css';

body {
  background: var(--black);
}

.footer {
  background: var(--dark);
  padding-top: 24px;
  padding-bottom: 20px;
  gap: 8px;
}

.footer__info {
  width: 450px;
}

.footer__copyright {
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .footer__info {
    width: unset;
  }
}
